/Stoma Appliance Scheme/*
!/Stoma Appliance Scheme/stoma-appliance-scheme-lookup-standalone.html
/Stoma Appliance Scheme/__pycache__/
/Stoma Appliance Scheme/*.pyc
/iasa_full_site_update_package/*.zip
